#footerlinks ul{
	list-style-type: none;
    padding-top: 10px;
}
#footerlinks li{
	display: inline;
}
.teampic{
	display:block;
	margin:auto;
	padding:10px;
	width:90%;
	max-width: 568px;
}
.faceBorder{
	position:aboslute;
	border: solid 5px;
	width:auto;
	height:auto;
}
#teamList{
	list-style: none;
}
#teamList li{
	display:inline;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#biglogo{
	max-width: 40%;
	min-width: 114px;
	max-height: 40%;
	padding: 10px;
}

.jumbotron{
	padding: 40px 30px 0px 30px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.img-circle {
    border-radius: 50%;
}
.mptable{
	padding: 50px;
}